{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rainbow Cake</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <div class="w3-container">
    <a href="index.html">
      <p><button class="w3-btn w3-orange w3-xlarge">Home<i class="w3-margin-left fa fa-home"></i></button></p>
    </a>
  </div>
</head>

<body>

  <div class="container">
    <h2>Rainbow Cake</h2>
    <p>$ 30
    </p>
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="../static/img/1552683774324.jpeg" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <h4 class="card-title">Rainbow Cake</h4>
        <p class="card-text">The sweetest mini celebration cake! Five layers of colorful, moist cake with vanilla
          frosting and a confetti of rainbow sprinkles.</p>
        <a href="../templates/ShoppingCart.html" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Rainbow Cake Roll</h2>
    <p>$ 30
    </p>
    <div class="card img-fluid" style="width:500px">
      <img class="card-img-top" src="../static/img/f2d29a10-8cf2-42cc-ac82-0ff43862394a.jpg" alt="Card image"
        style="width:100%">
      <div class="card-img-overlay">
        <h4 class="card-title">Rainbow Cake</h4>
        <p class="card-text">A bright and colorful rainbow cake roll filled with a whipped rainbow chip frosting
          filling.</p>
        <a href="../templates/ShoppingCart.html" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>
  <div class="w3-container">
    <p></p>
  </div>

  <div class="w3-container w3-teal">
    <h5>Best Cake In Brisbane</h5>
    <p>Find a good cake for your beloved</p>
  </div>
</body>

</html>